{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
<div class="container">
    {% for message in app.flashes('success') %} 
        <div class="alert alert-success"> {{ message }} </div> 
    {% endfor %} 
    {% for message in app.flashes('danger') %} 
        <div class="alert alert-danger"> {{ message }} </div> 
    {% endfor %}
    <h1>Orders</h1>

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Ville</th>
                <th>Code_postal</th>
                <th>Created_at</th>
                <th>status</th>
                <th>Prices</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td class="text-secondary">#{{ order.id }}</td>
                <td class="text-secondary">{{ order.phone }}</td>
                <td class="text-secondary">{{ order.address }}</td>
                <td class="text-secondary">{{ order.ville }}</td>
                <td class="text-secondary">{{ order.codePostal }}</td>
                <td class="fs-6 fst-italic">{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="table-info fst-italic">{{ order.status }}</td>
                <td class="text-primary table-secondary"> {{ order.total }} dt</td>
                <td>
                    <a href="{{ path('app_order_show', {'id': order.id}) }}" class="btn btn-primary btn-sm" >show</a>
                    <a href="{{ path('app_order_edit', {'id': order.id}) }}" class="btn btn-warning btn-sm" >edit</a>
                    {{ include("order/_delivred_form.html.twig") }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
