{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
<div class="container">
    <span class="h1 float-end text-info">
        Total: 
        {{ total }}
        dt
    </span>
    <h1>Order</h1>

    <div class="row">
    <div class="col-lg-6">
        <h4>Infos</h4>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ order.id }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ order.phone }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ order.address }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ order.ville }}</td>
                </tr>
                <tr>
                    <th>Code_postal</th>
                    <td>{{ order.codePostal }}</td>
                </tr>
                <tr>
                    <th>Created_at</th>
                    <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <h4>Products</h4>
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for panel in panels %}
                    <tr>
                        <td>{{ panel.getProduct.name }}</td>
                        <td>{{ panel.getProduct.price }} dt</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

    <a href="{{ path('app_order_edit', {'id': order.id}) }}" class="btn btn-warning" >edit</a>
    {{ include("order/_delivred_form.html.twig") }}
</div>


{% endblock %}
